[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-experimental = "*"
pandas = "*"
tabulate = "*"
sqlalchemy = "*"
faiss-cpu = "*"
sentence-transformers = "*"
llama-index = "*"
llama-index-vector-stores-faiss = "*"

[dev-packages]

[requires]
python_version = "3.10"
